* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'poppins-bolditalic';
    src: url('../assets/fonts/Poppins-BoldItalic.ttf');
}

@font-face {
    font-family: 'poppins-italic';
    src: url('../assets/fonts/Poppins-Italic.ttf');
}

body {
    background-color: #eee;
    padding: 10px;
}

.calculator {
    max-width: 600px;
    min-width: 355px;
    padding: 20px 0;
    margin: 80px auto 0;
    background-color: #fff;
    border-radius: 10px 10px 100px;
}

.container {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    row-gap: 30px;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    align-self: center;
    font-family: 'poppins-bold';
    font-size: 14px;
}

.inputs-div {
    display: grid;
    row-gap: 7px;
    position: relative;
    color: hsl(0, 1%, 44%);
}

.inputs-div.error {
    color:hsl(0, 100%, 67%);
}

.inputs-div.error input {
    border-color:hsl(0, 100%, 67%);
}

.inputs-div::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    left: 0;
    color: hsl(0, 100%, 67%);
    font-family: 'poppins-italic';
    font-size: 10px;
}

.inputs-div.empty::after {
    content: "This field is required";
}

.inputs-div.invalid-date::after {
    content: "Must be a valid date";
}

.inputs-div.invalid-day::after {
    content: "Must be a valid day";
}

.inputs-div.invalid-month::after {
    content: "Must be a valid month";
}

.inputs-div.invalid-year::after {
    content: "Must be a valid year";
}

.inputs-div.future::after {
    content: "Must be in the past";
}

.inputs input {
    height: 40px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 80%;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 86%);
    cursor: pointer;
}

.inputs input:focus {
    outline-color: hsl(259, 100%, 65%);
}

.split {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.button {
    background-color: hsl(259, 100%, 65%);
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.button:focus {
    outline: none;
}

.button img {
    width: 60%;
}

.result {
    font-size: 50px;
    font-weight: bold;
}

.result-div {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: max-content max-content 1fr;
}

.result-div span {
    width: 30px;
    height: 10px;
    background-color: hsl(259, 100%, 65%);
    color: hsl(259, 100%, 65%);
    font-family: 'poppins-bolditalic';
}

.result-div span:first-child {
    margin-right: 5px;
}

.result-div p {
    margin-left: 15px;
    font-family: 'poppins-bolditalic';
}

@media (max-width: 396px) {
    .inputs-div::after {
        bottom: -30px;
    }
}

@media (max-width: 500px) {
    .inputs {
        width: 100%;
    }

    .button {
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media (hover: hover) {
    .button:hover {
        background-color: #222;
    }
}

@media (hover: none) {
    .button:active {
        background-color: #222;
    }
}
